{% extends 'main.html' %}

{% block content %}
    <h1>Мои отклики</h1>

    {% for response in responses %}
        <h2><a href="{{ response.post.get_absolute_url }}">{{ response.post.title }}</a></h2>
        <p>Отклик: {{ response.text }}</p>
        <p>Статус: {{ response.get_status_display }}</p>

        {% if response.status == 'new' %}
            <a href="{% url 'change_response_status' response.pk 'accepted' %}">Принять</a> |
            <a href="{% url 'change_response_status' response.pk 'rejected' %}">Отклонить</a>
        {% endif %}

        <hr>
    {% endfor %}

{% endblock content %}